.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.wrapper {
    margin : 0 40px;
    margin-bottom : 10px;
  }

.button {  
    display: inline-block; 
    border-radius: 4px;  
    background-color: #f4511e; 
    border: none;  
    color: #FFFFFF;  
    text-align: center; 
    font-size: 11px; 
    margin-left: 40px;
    padding: 5px; 
    width: 100px; 
    height : 25px;
    border: 1px solid white;
    transition: all 0.5s; 
    cursor: pointer;  
    margin: 5px;
}
.button:hover{
    background-color : white;
    color : #f4511e;
    border-color : black;
}
.input {
    height : 25px;
}
.post {
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
  }

.footwrapper{
    padding : 10px;
}